<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificado</title>
    <style type="text/css">
        @page {
            width: 28cm;
            height: 17cm;
            margin: 1.0in 0.25in 0.5in 0.25in;
            padding: 0;

        } <!-- end of @page bracket -->

        <!-- add content styles here -->
        h1 { text-align: middle; font-size: 18px; }
    </style>
</head>
<body>


    <div style="width:1104px; height:784px; margin-top:-103px; margin-left:-31px;">
      <div style="position:absolute; top:-103px; left:-31px; height:30px; background-color:#FFD700; width:1120px;">
      </div>
      <img style="float:right; margin-right:4%; margin-top:40px; height:160px" src="/static/img/logos/errcmain.png" alt="">
      <div class="texto" style="position:absolute; margin-left:4%; margin-top:22%; font-size:22px; text-align:justify">
        <div>
          Certificamos que o Trabalho entitulado <b>"{{part.trabalho}}"</b> de autoria de <b>{{part.participante}}</b>,
          foi apresentado e publicado nos Anais da <b>15ª Escola Regional de Redes de Computadores (ERRC 2017)</b>,
          realizada de 27 a 30 de setembro de 2016 na Universidade Federal de Santa Maria em Santa Maria/RS.
        </div>
        <div style="float:right; padding-top:20px">
          Santa Maria, 25 de setembro de 2017.
        </div>
      </div>
      <div class="assinatura" style="position:absolute; width:100%; margin-top:39%; margin-left:2%;">
        <div style="margin-left:38%; z-index:205">
          <img src="/static/img/logos/assinatura.png" alt="" style="height:110px; z-index:206">
        </div>
        <div style="text-align:center; margin-top:-40px; z-index:200"><b>Carlos Raniery Paula dos Santos</b></div>
        <div style="text-align:center;"><i>Coordenador Geral da ERRC 2017</i></div>

      </div>
      <div class="rodape" style="position:absolute; margin-top:60%">
        <img src="/static/img/logos/rodape.png" alt="">
      </div>

      <div class="pre_patrocinio" style="position:absolute; margin-top:56%; width:75%; margin-left:4%">
        <div class="execucao">
        <!--  <b style="margin-left:30px">Execução:</b> -->
          <b style="margin-left:0px">Patrocínio:</b>
          <b style="margin-left:310px">Apoio:</b>
        </div>
      </div>
      <div class="patrocinios" style="height:70px; position:absolute; margin-top:45%; width:75%; margin-left:4%">
        <b style="margin-left:0px">Realização:</b>
        <div class="logos" style="position:relative;">
          <img src="/static/img/logos/sbc.jpg" alt="" style="height:70px; margin-left:15px; margin-top:10px">
        </div>
      </div>

      <div class="patrocinios" style="height:70px; position:absolute; margin-top:59%; width:75%; margin-left:4%">
        <div class="logos" style="position:relative;">

          <img src="/static/img/logos/fapergs.jpg" alt="" style="height:70px;margin-left:-10px;">
          <img src="/static/img/logos/capes_logo.png" alt="" style="height:60px; margin-bottom:10px">
          <img src="/static/img/logos/marca-avato.png" alt="" style="height:55px; margin-bottom:10px; margin-left:10px;">
          <img src="/static/img/logos/brasao-cores.png" alt="" style="height:70px; margin-left:20px">
          <img src="/static/img/logos/ctism.png" alt="" style="height:70px; margin-left:10px">
          <img src="/static/img/logos/informatica_ufsm.png" alt="" style="height:70px">
          <img src="/static/img/logos/unipampa.png" alt="" style="height:70px">

        </div>
      </div>

    </div>

</body>
</html>
